doctype
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='NodeJS in Action - Simple Blog')
    meta(name='author', content='Hüseyin BABAL')
    title Home
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/blog.css', rel='stylesheet')
    body
        //
           Header
        header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') NodeJSInAction
                nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
                    if (req.isAuthenticated())
                        ul.nav.navbar-nav
                            li.active
                                a(href='/') Welcome #{req.user.name}
                            li
                                a(href='/article/new') New Article
                            li
                                a(href='/logout') Logout
                    else
                        ul.nav.navbar-nav
                            li.active
                                a(href='/') Home
                            li
                                a(href='/signin') Signin
                            li
                                a(href='/signup') Signup
        //
           Body
        .container
            block content
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
